@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/IRANYekanWebBold.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/IRANYekanWebRegular.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/IRANYekanWebMedium.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/IRANYekanWebMedium.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/IRANYekanWebExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/IRANYekanWebBlack.woff2") format("woff2");
  }
  @font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 1000;
    src: url("./assets/fonts/iranyekanwebextrablack.woff2") format("woff2");
  }
  